{% extends "layout.html" %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the DataCave</h1>
    <h2>This dashboard provides access to key utilities for ingest and monitoring.</h2>
    <p>Please use the menu to find the service that you need.</p>
  </div>
</div>
<div class="container">
<h1>Warning: Archival Data</h1>
<p>Users should bear in mind that this data is difficult to restore if it is deleted.
Please try not to make a mess.</p>
</div>

{% endblock %}
