<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DataCave Dashboard</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="jumbotron.css" rel="stylesheet">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--script type="text/javascript" src="./lib/translate.js"></script>
  <script type="text/javascript" src="./lib/languages.js"></script-->
<style type="text/css">
  body {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  input.text {width:200px; margin-left:20px}
  #searchbox {width: auto}
  .header img {margin-right:10px}

  fieldset {
      margin: 1em;
      font-size: smaller;
  }
  table.adsearch td {
      padding:5px 10px 5px 0px;
      vertical-align:top;
      }
  table.adsearch select {
      padding:1px 0px;
      margin-left:20px;
      -webkit-appearance: menulist-button;
      height:26px;
      }
  .results td{
      border: 1px solid #e6e6e6;
      }
  .detail td {
      padding:5px 10px 5px 0px;
      vertical-align:center;
      border: 1px solid #e6e6e6;
      }
</style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/dashboard/">DataCave</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://ciber.umd.edu">DRASTIC UI</a></li>
          <li><a href="http://ciber-testbed.umd.edu:5555/">Workflow Monitor</a></li>
          <li><a href="/jupyter/">Jupyter Notebook</a></li>
          <li><a href="/dashboard/es_stats">Elastic Stats</a></li>
          <li><a href="http://localhost:8888/opscenter/index.html">Tunneled OpsCenter</a></li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Batch Ingest <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/rgroup_ingest">Local Record Group Ingest</a></li>
              <li><a href="/dashboard/nara_catalog_ingest">NARA Series Catalog API Ingest</a></li>
              <li><a href="/dashboard/json_autoindex_ingest">Nginx JSON Autoindex Ingest</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="jumbotron">
    <div class="container">
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}

  <div id="footer"></div>
</body>
</html>
